@import './custom.webflow-normalize.css';
@import './custom.webflow-base.css';
@import './custom.webflow.css';

/*Disable original UI*/
footer,
.nav-container,
section#cta {
  display: none !important;
}

/* #foragerFooter {
  margin: 0 -24px;
}

#foragerFooter .footer {
  padding: 0 24px;
} */

* {
  font-variant-ligatures: none;
}

.page-body,
body,
main {
  background: transparent !important;
}

main {
  background: linear-gradient(180deg, #f2f2f2, #fff);
  background-color: transparent !important;
}

.masthead {
  background: transparent !important;
}

.masthead h1,
.masthead h2 {
  font-size: 40px !important;
  line-height: 47px !important;
  font-weight: 500 !important;
  margin: 0 auto !important;
}

.masthead h1 {
  color: #0a074c !important;
  max-width: 600px;
}

.masthead h2 {
  margin-top: 30px !important;
  color: rgba(54, 51, 107, 0.8) !important;
  font-size: 18px !important;
  line-height: 1.78em !important;
  max-width: 750px;
}

.nav__link:hover .dropdown__content.w-dropdown-list {
  display: block !important;
}

.listing-card {
  box-shadow: 0 10px 15px -1px rgba(4, 0, 70, 0.1) !important;
}

#modals {
  z-index: 999;
}

/* Middle smoothing level, works in 99% cases */
body {
  padding-top: 170px;
  font-family: Circularstd, sans-serif;
  color: rgba(54, 51, 107, 0.8);
  font-size: 18px;
  line-height: 1.78em !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  background: #faf9ff;
}

body * {
  font-family: Circularstd, sans-serif !important;
}

.modal.modal-visible {
  opacity: 1 !important;
  display: flex !important;
}

h3.request-form__title {
  margin-top: 0 !important;
}
